bin/Debug/ScreenCut.dll
bin/Debug/ScreenCut.dll
bin/Debug/ScreenCut.pdb
bin/Debug/TimeFrequencyMeasurementSystem.exe
bin/Debug/TimeFrequencyMeasurementSystem.pdb
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/TimeFrequencyMeasurementSystem.csprojResolveAssemblyReference.cache
obj/Debug/TimeFrequencyMeasurementSystem.exe
obj/Debug/TimeFrequencyMeasurementSystem.pdb
obj/Debug/TimeFrequencyMeasurementSystem_MarkupCompile.lref
bin/Debug/ScreenCut.dll
bin/Debug/ScreenCut.pdb
bin/Debug/TimeFrequencyMeasurementSystem.exe
bin/Debug/TimeFrequencyMeasurementSystem.pdb
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/TimeFrequencyMeasurementSystem.csprojResolveAssemblyReference.cache
obj/Debug/TimeFrequencyMeasurementSystem.exe
obj/Debug/TimeFrequencyMeasurementSystem.pdb
obj/Debug/TimeFrequencyMeasurementSystem_MarkupCompile.lref
obj/Debug/Forms/SubForm/BootFeatureForm.g.i.cs
obj/Debug/Forms/SubForm/BurnInRateForm.g.i.cs
obj/Debug
